<h1>Jersey Tracker Privacy Policy</h1>

<h2>What information do we collect?</h2>
<strong>Username</strong> - Whatever username you choose. The only attibutable 
information in your username is what you choose to use.</br>
<strong>Email</strong> - The email you use to log in with will be retained for 
identification purposes only.</br>
<strong>Strava User Token</strong> - Your Strava user token is a 32 digit 
alphanumeric that gives CastleTracks permission to pull your data from your 
Strava account. It does not permit access to any events marked private. At any 
time you can disable the token either through CastleTracks or through your 
Strava Profile.</br>
<strong>Current/Last sign in IP Address</strong> - As part of our Ruby on Rails 
stack, Devise uses your current and last IP address for session management and 
security purposes.</br>

<h2>How do we use the information?</h2>
We use the above information only to drive the game and ensure the most 
accurate data is available for competition and tracking. At no time do we 
share data with any third parties.
User Email addresses are not available to any user at any time and only used 
by the owner of the account for access verification.