<div id='strava_connect'>
  Uh oh!  Looks like Strava isn't connected yet!</br>
  No worries.  The button below will take you to Strava's website.</br>
  By logging in there, you are telling them it's ok to share data with our app.</br>
  You can revoke this permission at any time either through Strava or through the Jersey Tracker.</br>
  <%= link_to image_tag("https://s3.amazonaws.com/bucketroyal/Strava+Graphics/btn_strava_connectwith_light.png"), @full_uri %>
</div>