<h2>You have successfully connected your account to Strava!</h2>
<h3>It might take a minute or two to download all your activities and efforts.
In the meantime you might want to check out some of the 
<%= link_to "events", events_path %> or <%= "series", series_path %> 
that have already happened or are ongoing.
</h3>
<%= image_tag @profile %>