<li>
  <%= image_tag user.profile %>
  <%= link_to user.firstname, user %>
  <% if current_user.director? && current_user != user %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
  Other excellent data about the user here.</br>
  Scores etc.
  
</li>