<div id="connect_form-<%= activity.id.to_s %>">
  <% if @event.contains.include? activity %>
    <%= render 'disconnect', activity_id: activity.id %>
  <% else %>
    <%= render 'connect', activity_id: activity.id %>
  <% end %>
</div>