  <div id="feature_form">
    <% if segment.featured? @event %>
      <%= render 'events/unfeature', segment: segment %>
    <% else %>
      <%= render 'events/feature', segment: segment %>
    <% end %>
  </div> 