  <div id="feature_form">
    <% if segment.featured? @event %>
      <%= render 'unfeature', segment: segment %>
    <% else %>
      <%= render 'feature', segment: segment %>
    <% end %>
  </div> 