<footer class="footer">
  <small>
    <%= image_tag('https://s3.amazonaws.com/bucketroyal/Strava+Graphics/api_logo_cptblWith_strava_stack_light.png') %>
  </small>
  <nav>
    <ul>
      <%= link_to 'Help', help_path %></br>
    </ul>
  </nav>
</footer>